In [365]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [366]:
matches = pd.read_csv('matches.csv')
delivery = pd.read_csv('deliveries.csv')

In [367]:
matches.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan

In [368]:
matches['venue']=matches['venue'].str.split(',').apply(lambda x:x[0])

In [369]:
matches.columns

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2'],
      dtype='object')

In [370]:
matches.drop(columns = ['season','date','match_type','player_of_match','city','team1','team2','toss_winner','toss_decision','result_margin','target_overs','super_over','method','umpire1','umpire2'],inplace=True)

In [371]:
matches.result.value_counts()

result
wickets      578
runs         498
tie           14
no result      5
Name: count, dtype: int64

In [372]:
matches

,id,venue,winner,result,target_runs
0,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,runs,223.0
1,335983,Punjab Cricket Association Stadium,Chennai Super Kings,runs,241.0
2,335984,Feroz Shah Kotla,Delhi Daredevils,wickets,130.0
3,335985,Wankhede Stadium,Royal Challengers Bangalore,wickets,166.0
4,335986,Eden Gardens,Kolkata Knight Riders,wickets,111.0
...,...,...,...,...,...
1090,1426307,Rajiv Gandhi International Stadium,Sunrisers Hyderabad,wickets,215.0
1091,1426309,Narendra Modi Stadium,Kolkata Knight Riders,wickets,160.0
1092,1426310,Narendra Modi Stadium,Rajasthan Royals,wickets,173.0
1093,1426311,MA Chidambaram Stadium,Sunrisers Hyderabad,runs,176.0
1094,1426312,MA Chidambaram Stadium,Kolkata Knight Riders,wickets,114.0

In [373]:
delivery.head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [374]:
def func(x):
    if x == 'Royal Challengers Bengaluru':
        return 'Royal Challengers Bangalore'
    elif x == 'Rising Pune Supergiant':
        return 'Rising Pune Supergiants'
    else:
        return x

delivery.batting_team = (delivery['batting_team'].apply(func))
delivery.bowling_team = (delivery['bowling_team'].apply(func))

In [375]:
delivery.player_dismissed.value_counts()

player_dismissed
RG Sharma      223
V Kohli        207
S Dhawan       193
KD Karthik     184
RV Uthappa     180
              ...
BJ Haddin        1
SS Cottrell      1
JE Taylor        1
NL McCullum      1
Sunny Gupta      1
Name: count, Length: 629, dtype: int64

In [376]:
delivery = delivery[['match_id','batting_team','bowling_team','inning','over','ball','total_runs','is_wicket']]
delivery['id']= delivery.match_id
delivery.drop(columns=['match_id'],inplace=True)
delivery

,batting_team,bowling_team,inning,over,ball,total_runs,is_wicket,id
0,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,1,1,0,335982
1,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,2,0,0,335982
2,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,3,1,0,335982
3,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,4,0,0,335982
4,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,5,0,0,335982
...,...,...,...,...,...,...,...,...
260915,Kolkata Knight Riders,Sunrisers Hyderabad,2,9,5,1,0,1426312
260916,Kolkata Knight Riders,Sunrisers Hyderabad,2,9,6,1,0,1426312
260917,Kolkata Knight Riders,Sunrisers Hyderabad,2,10,1,1,0,1426312
260918,Kolkata Knight Riders,Sunrisers Hyderabad,2,10,2,1,0,1426312
260919,Kolkata Knight Riders,Sunrisers Hyderabad,2,10,3,1,0,1426312

In [377]:
new_data = matches.merge(right=delivery,on='id')
new_data = new_data[new_data['inning']==2]

In [378]:
new_data

,id,venue,winner,result,target_runs,batting_team,bowling_team,inning,over,ball,total_runs,is_wicket
124,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,runs,223.0,Royal Challengers Bangalore,Kolkata Knight Riders,2,0,1,1,0
125,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,runs,223.0,Royal Challengers Bangalore,Kolkata Knight Riders,2,0,2,1,0
126,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,runs,223.0,Royal Challengers Bangalore,Kolkata Knight Riders,2,0,3,0,0
127,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,runs,223.0,Royal Challengers Bangalore,Kolkata Knight Riders,2,0,4,1,0
128,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,runs,223.0,Royal Challengers Bangalore,Kolkata Knight Riders,2,0,5,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,MA Chidambaram Stadium,Kolkata Knight Riders,wickets,114.0,Kolkata Knight Riders,Sunrisers Hyderabad,2,9,5,1,0
260916,1426312,MA Chidambaram Stadium,Kolkata Knight Riders,wickets,114.0,Kolkata Knight Riders,Sunrisers Hyderabad,2,9,6,1,0
260917,1426312,MA Chidambaram Stadium,Kolkata Knight Riders,wickets,114.0,Kolkata Knight Riders,Sunrisers Hyderabad,2,10,1,1,0
260918,1426312,MA Chidambaram Stadium,Kolkata Knight Riders,wickets,114.0,Kolkata Knight Riders,Sunrisers Hyderabad,2,10,2,1,0
260919,1426312,MA Chidambaram Stadium,Kolkata Knight Riders,wickets,114.0,Kolkata Knight Riders,Sunrisers Hyderabad,2,10,3,1,0

In [379]:
series = (new_data['winner']==new_data['batting_team'])
new_data['result']=[int(i) for i in series]

In [380]:
new_data.drop(columns = ['inning','winner'],inplace = True)
new_data

,id,venue,result,target_runs,batting_team,bowling_team,over,ball,total_runs,is_wicket
124,335982,M Chinnaswamy Stadium,0,223.0,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,1,0
125,335982,M Chinnaswamy Stadium,0,223.0,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,1,0
126,335982,M Chinnaswamy Stadium,0,223.0,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,0,0
127,335982,M Chinnaswamy Stadium,0,223.0,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,1,0
128,335982,M Chinnaswamy Stadium,0,223.0,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,1,0
...,...,...,...,...,...,...,...,...,...,...
260915,1426312,MA Chidambaram Stadium,1,114.0,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,1,0
260916,1426312,MA Chidambaram Stadium,1,114.0,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,1,0
260917,1426312,MA Chidambaram Stadium,1,114.0,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,1,0
260918,1426312,MA Chidambaram Stadium,1,114.0,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,1,0
260919,1426312,MA Chidambaram Stadium,1,114.0,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,1,0

In [381]:
new_data['runs_made']=new_data.groupby('id')['total_runs'].cumsum()
new_data['runs_left'] = new_data['target_runs']-new_data['runs_made']
new_data.drop(columns = ['runs_made'],inplace = True)

In [382]:
new_data['wickets_left']=10 - new_data.groupby('id')['is_wicket'].cumsum()

In [383]:
new_data['balls_left']=120-(6*new_data['over']+new_data['ball'])

In [384]:
new_data

,id,venue,result,target_runs,batting_team,bowling_team,over,ball,total_runs,is_wicket,runs_left,wickets_left,balls_left
124,335982,M Chinnaswamy Stadium,0,223.0,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,1,0,222.0,10,119
125,335982,M Chinnaswamy Stadium,0,223.0,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,1,0,221.0,10,118
126,335982,M Chinnaswamy Stadium,0,223.0,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,0,0,221.0,10,117
127,335982,M Chinnaswamy Stadium,0,223.0,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,1,0,220.0,10,116
128,335982,M Chinnaswamy Stadium,0,223.0,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,1,0,219.0,10,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,MA Chidambaram Stadium,1,114.0,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,1,0,4.0,8,61
260916,1426312,MA Chidambaram Stadium,1,114.0,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,1,0,3.0,8,60
260917,1426312,MA Chidambaram Stadium,1,114.0,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,1,0,2.0,8,59
260918,1426312,MA Chidambaram Stadium,1,114.0,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,1,0,1.0,8,58
260919,1426312,MA Chidambaram Stadium,1,114.0,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,1,0,0.0,8,57

In [385]:
new_data.drop(columns=['is_wicket','total_runs','over','ball'],inplace = True)

In [386]:
new_data = new_data[new_data['balls_left']>0]

In [387]:
new_data['crr'] = (new_data['target_runs']-new_data['runs_left'])*6/(120 - new_data['balls_left'])

C:\Users\DeLL\AppData\Local\Temp\ipykernel_18688\792936730.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['crr'] = (new_data['target_runs']-new_data['runs_left'])*6/(120 - new_data['balls_left'])

In [388]:
new_data['rrr'] = new_data['runs_left']*6/(new_data['balls_left'])

C:\Users\DeLL\AppData\Local\Temp\ipykernel_18688\2185898188.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['rrr'] = new_data['runs_left']*6/(new_data['balls_left'])

In [389]:
X = new_data.drop(columns = ['id','result'])
y = new_data[['result']]

In [390]:
new_data.describe()

,id,result,target_runs,runs_left,wickets_left,balls_left,crr,rrr
count,1.251750e+05,125175.000000,125175.000000,125175.000000,125175.000000,125175.000000,125175.000000,125175.000000
mean,9.070586e+05,0.514568,168.143551,94.099812,7.529339,63.068296,7.586219,10.772863
std,3.680081e+05,0.499790,31.369421,50.825896,2.141734,33.247244,2.358815,13.367125
min,3.359820e+05,0.000000,43.000000,-33.000000,0.000000,1.000000,0.000000,-30.000000
25%,5.483340e+05,0.000000,149.000000,54.000000,6.000000,35.000000,6.375000,7.250000
50%,9.809670e+05,1.000000,168.000000,93.000000,8.000000,64.000000,7.596330,9.000000
75%,1.254066e+06,1.000000,188.000000,132.000000,9.000000,92.000000,8.857143,11.200000
max,1.426312e+06,1.000000,288.000000,287.000000,10.000000,119.000000,36.000000,792.000000

In [391]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [392]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [393]:
trf = ColumnTransformer(transformers=[
    ('one_hot',OneHotEncoder(sparse_output=False,drop='first'),['venue','batting_team','bowling_team'])
],remainder='passthrough')

In [394]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',LogisticRegression(solver= 'liblinear'))
])

In [395]:
pipe.fit(X_train,y_train.values.ravel())
y_pred = pipe.predict(X_test)
accuracy_score(y_test,y_pred)

0.8142200918713801

In [396]:
y_prob_pred = pipe.predict_proba(X_test)

In [397]:
import pickle

In [398]:
pickle.dump(pipe,open('pipe.pkl','wb'))

In [399]:
pipii = pkl.load(open('pipe.pkl','rb'))

In [402]:
X.bowling_team.unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Deccan Chargers', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Daredevils',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions', 'Delhi Capitals',
       'Punjab Kings', 'Lucknow Super Giants', 'Gujarat Titans'],
      dtype=object)